.button {
    width: 500;
    height: 50;
    color: #000;
    background-color: brown;
}

.button:hover {
    background-color: red;
}

.TabContainer {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.NavigationGroup {
    display: flex;
    align-items: center;
    gap: 45px;
}

.TabActive {
    background-color: blue;
}

.Tab {
    background-color: green;
}