.button {
    width: 500;
    height: 50;
    color: #000;
    background-color: brown;
}

.button:hover {
    background-color: red;
}

.TabContainer {
    display: flex;
    min-height: 60px;
    height: 15%;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.NavigationGroup {
    display: flex;
    align-items: center;
    gap: 45px;
}

.TabActive {
    background-color: blue;
}

.Tab {
    background-color: green;
}

.Tooltip {
    position: relative;
    top: -4px;
}

.TipTextCombo {
    padding-right: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.Text {
    display: block;
    padding-right: 1%;
}

.Tooltip:hover .TooltipText {
    visibility: visible;
    position: absolute;
    top: 0px;
    left: 35px;
    width: 180px;
    padding: 4px;
    border-radius: 5px;
    background-color: aliceblue;
    border: 2px solid black;
}

.TooltipText {
    position: absolute;
    visibility: hidden;
}