.Wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Content {
    min-width: 40%;
    display: block;
    padding: 10px 20px;
    border: 2px solid #eee;
    border-radius: 10px;
}

.CenteredRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links {
    padding-top: 10px;
}

.Links p  b{
    color: blue;
}

.Form {
    padding-top: 30px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.Form input {
    padding: 4px;
}

.Error {
    border-radius: 8px;
    background-color: var(--reject-background);
    padding: 5px 10px;
    border: 1px solid var(--reject-border);
    border-top: 3px solid var(--reject-border);
    border-bottom: 3px solid var(--reject-border);
    width: 100%;
}

.SubmitButton {
    background-color: lightgreen;
    border-radius: 5px;
    height: 30px;
}

.SubmitButton:hover {
    background-color: green;
}