.Wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Content {
    min-width: 40%;
    display: block;
    padding: auto 20px;
    border: 2px solid #eee;
    border-radius: 10px;
}

.CenteredRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Form {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.Form input {
    padding: 4px;
}

.SubmitButton {
    background-color: lightgreen;
    border-radius: 5px;
    height: 30px;
}

.SubmitButton:hover {
    background-color: green;
}

.TipLabel {
    display: flex;
}