.FriendTable {
    border: 1px solid #eee;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.FriendTable th,
.FriendTable td {
  padding: 12px;
  text-align: center;
  border: 1px solid #eee;
  vertical-align: middle;
}

.Wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.BottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-top: 1px solid #eee;
}