.Wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    overflow: hidden;
}

.SideBar {
    position:fixed;
    z-index: 2;
    background-color: white;
    height: 100%;
    width: 30%;
    color: inherit;
    border-right: 1px solid #eee;
}

.sideBarPlaceholder{
    width: 30%;
}

.SelectionComponents {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.BottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border-top: 1px solid #eee;
}

.Map {
    flex: 1;
    overflow: auto;
}

.hidden {
  display: none;
}
