.Wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
    overflow: hidden;
}

.SideBar {
    position:fixed;
    z-index: 2;
    background-color: white;
    height: 100%;
    width: 30%;
    color: inherit;
    border-right: 1px solid #eee;
}

.SideBarContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBarPlaceholder{
    width: 30%;
}

.SelectionComponents {
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.BottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    min-height: 60px;
    border-top: 1px solid #eee;
}

.Map {
    flex: 1;
    overflow: auto;
}

.CardList {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.UserCard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.hidden {
  display: none;
}
