.Wrapper {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: row;
    overflow: auto;
    overflow: hidden;
}

.SideBar {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100%;
    width: 30%;
    gap: 5px;
    border-right: 3px solid #eee;
    margin-right: 10px;
    padding: 10px;
}

.Content {
    height: 100%;
    width: 70%;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.big_text {
    font-size: 20px;
}

.small_text {
    padding-bottom: 10px;
}

.SettingButton {
    max-width: 120px;
}

.SettingGroup {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;
}

.divider {
    border-top: 3px solid #eee;
    width: 100%;
    padding-bottom: 8px;
}